# ASP.NET Core Environment (Development, Production)
ASPNETCORE_ENVIRONMENT=Development

# PostgreSQL Configuration
POSTGRES_DATABASE=postgres_books
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_INTERNAL_PORT=5432

# MediatR License Key (Optional for local testing / development)
MEDIATR_LICENSE=
